#name,
#e-mail,
#password,
#number {
    border-color: #F70303;
    width: 300px;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
    border-width: 4px;
    margin-left: 60px;
    font-weight: bolder;
    font-family: inter;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, auto);
    gap: 10px;
    text-align: left;
}

label {
    grid-column: 1;
    grid-row: auto;
    margin-left: 62px;
    font-family: inter;
}

input {
    grid-column: 1;
    grid-row: auto;
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-family: inter;
}

input::placeholder {
    color: #000;
}

img {
    width: 250px;
    margin-left: 85px;
}

.inscrire {
    grid-column: 1;
    grid-row: 12;
    width: 172px;
    height: 50px;
    background-color: #F70303;
    border-radius: 10px;
    border-color: #F70303;
    border-width: 2px;
    text-align: center;
    color: white;
    font-size: 24px;
    margin-left: 130px;
    margin-top: 20px;
}

#checkbox {
    margin-left: -130px;
}

p{
    font-family: inter;
    margin-left: 80px;
    margin-top: -20px;
    text-decoration: underline;
    color: #000;
}