p {
    font-size: 16px;
    border: 3px solid #0779FF;
    border-radius: 10px;
    padding: 15px;
    width: 340px;
    margin-left: 10px;
    font-family: inter;
    font-weight: bolder;
    height: 80px;
  }

  .rep{
    margin-left: 15px;
    display: flex;
    font-family: inter;
    margin-top: -25px;
  }

  img{
    width: 20px;
    height: 20px;
    margin-top: 18px;
  }