body {
    margin: 0;
    padding: 0;
  }

  .logos-container {
    display: flex;
    margin-left: 240px;
  }
  
  .logo {
    margin: -20px; 
  }


  h1{
    font-family: inter;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: -20px;
    margin-top: 10px; 
}

p{
    font-family: inter;
    font-size: 16px;
    font-weight: bolder;
    margin: 15px;
}


header{
    background: url(images/240_F_102212076_CA0OdtNvhrBTHAEOkm8D1a0oDm5Z9SQB.jpg);
   background-size: cover;
   height: 200px;
   background-repeat: no-repeat;
}

h2{
    font-family: inter;
    font-weight: bolder;
    font-size: 24px;
}
 .calendrier{
    width: 120px;
    margin-left: 300px;
    margin-top: -90px;
 }

 h3{
    font-family: inter;
    font-size: 20px;
    margin-top: -20px;
 }

 h4{
    font-size: 15px;
    font-family: inter;
    font-weight: bolder;
 }

 .suivant{
    width: 135px;
    height: 46px;
    font-size: 24px;
    font-weight: bolder;
    background-color: #FFC8D5;
    border-color: #FFC8D5;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 140px;
    color: rgb(0, 0, 0);
}



img{
    width: 100px;
    margin-left: 160px;
}
