body {
    margin: 0;
    padding: 0;
  }

  .logos-container {
    display: flex;
    margin-left: 150px;
  }
  

  img{
    width: 100px;
    margin-left: 160px;
}

h1{
    text-align: center;
    font-family: inter;
    font-weight: bolder;
    font-size: 36px;
}

h2{
    font-family: inter;
    margin: 20px;
}

p{
    font-family: inter;
    margin: 20px; 
}



