body {
    margin: 0;
    padding: 0;
  }

  .logos-container {
    display: flex;
    margin-left: 240px;
  }
  
  .logo {
    margin: -20px; 
  }


p{
    font-size: 16px;
    font-family: inter;
    font-weight: bolder;
    text-align: center;
}

img{
    width: 100px;
    margin-left: 160px;

}