body{
    background: -110px;
    background-image: url(images/sportspeople-dark-studio-after-training_23-2147752888.jpg);
    margin-right: -120px;
    background-repeat: no-repeat;
    background-size: cover;  
}

.inscription{
    width: 254px;
    height: 46px;
    font-size: 32px;
    font-weight: bolder;
    background-color: #F70303;
    border-color: #F70303;
    border-radius: 10px;
    margin-top: 500px;
    margin-left: 100px;
    color: white;
}

.connexion{
    width: 254px;
    height: 46px;
    font-size: 32px;
    font-weight: bolder;
    background-color: #CCFF3B;
    border-color: #CCFF3B;
    border-radius: 10px;
    margin-top: 25px;
    margin-left: 100px; 
    color: rgb(0, 0, 0);
}

.logo{
    width: 170px;
    margin-left: 150px;
    margin-top: 20px;
}

img{
    width: 290px;
    margin-left: 80px;
    position: relative;
    animation: slideLeftRight 3s linear infinite;
}

@keyframes slideLeftRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}